services:
  mediamtx:
    image: bluenviron/mediamtx:1
    network_mode: host
    volumes:
      - ./mediamtx/config.yml:/mediamtx.yml

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
